# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*

# prisma
/node_modules/.prisma
/node_modules/@prisma

# next.js
/.next/
/out/

# env files
.env*
!.env.example
